router ospf {{ ospf_proc_id }}
   router-id {{ router_id }}
   passive-interface default
{% for interface, attrs in ospf_interfaces.items() %}
{% if not attrs['passive'] %}
   no passive-interface {{ interface[5:] }}
{% endif %}
{% endfor %}
{% for interface, attrs in ospf_interfaces.items() %}
{% if interface[5:] in ethernet_interfaces %}
   network {{ ethernet_interfaces[interface[5:]]['routed']['ip'] }} area {{ attrs['area'] }}
{% elif interface[5:] in loopback_interfaces %}
   network {{ loopback_interfaces[interface[5:]]['routed']['ip'] }} area {{ attrs['area'] }}
{% endif %}
{% endfor %}
   max-lsa 12000
!
