router bgp {{ bgp_asn }}
  router-id {{ router_id }}
  address-family ipv4 unicast
{% for network in bgp_ipv4_unicast['networks'] %}
    network {{ network }}
{% endfor %}
    maximum-paths ibgp {{ bgp_max_paths_ibgp }}
{% for neighbor, attrs in bgp_ipv4_unicast['neighbors'].items() %}
  neighbor {{ neighbor }}
    remote-as {{ attrs['remote-as'] }}
    update-source {{ attrs['update-source'] }}
    address-family ipv4 unicast
{% endfor %}
